dj-database-url==1.0.0
fpdf==1.7.2
psycopg2-binary==2.9.5
python-dateutil==2.8.2
pytz==2022.2.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.2
urllib3==1.26.12
whitenoise==6.2.0
setuptools>=60.0.1
