botocore==1.40.55
dj-database-url==3.0.1
Django==5.2.7
fpdf==1.7.2
jmespath==1.0.1
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
s3transfer==0.14.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
gunicorn
asgiref==3.10.0