
{%load static%}
<link rel="stylesheet" href="{% static 'pp/css/nav-bar.css' %}">



<nav>
    <ul id="primary-navigation"  class="primary-navigation flex" data-visible="false">
        <li class="active">
            <a href="#section-home">
                <span aria-hidden="true">00</span> Home
            </a>
        </li>
        <li>
            <a href="#section-about">
                <span aria-hidden="true">01</span> About
            </a>
        </li>
        <li>
            <a href="#section-projects">
                <span aria-hidden="true">02</span> Projects
            </a>
        </li>
        <li>
            <a href="#footer-distributed" onclick="down_scroll_click()">
                <span aria-hidden="true">03</span> Contact
            </a>
        </li>

    </ul>
</nav>
