{%load static%}

<link rel="stylesheet" href="{%static 'pp/css/projects.css'%}" />

<h1 class="main-heading">projects</h1>
<div class="center">
  <div class="projects-container reveal">
    <ul>
      <li class="list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe  
            src="https://www.youtube.com/embed/FrRM20wTvcQ?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" >
            </iframe>

          </div>

        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/Yelp-Webcrawler" target="_blank" class="hover-underline-animation">Yelp Web Scrapper</a>
          </h3>

          <div class="proj-desc">
            <p>
              A Yelp Web Crawler/Scrapper use to find information about any busines in any location. And also able to store it an an excell file.
              Extract Title, phone no, location and website of any buisness that can be exported in an Excell file.
            </p>
          </div>
          <ul class="tech-list">
            <li>Python</li>
            <li>openpyxl</li>
            <li>requests</li>
            <li>Beautiful soup 4</li>
          </ul>
          <div class="proj-links">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>External Link</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
            <a href="https://github.com/theuppercaseguy/Yelp-Webcrawler" aria-label="GitHub" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><title>GitHub</title><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
                
            
          </div>
        </div>
      </li>

      <li class="alt list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe  
            src="https://www.youtube.com/embed/FrRM20wTvcQ" 
            title="FLYING OVER GREECE (4K UHD) Amazing Beautiful Nature Scenery with Relaxing Music | 4K VIDEO ULTRA HD" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            ></iframe>

          </div>

        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/Street-Fighters" target="_blank" class="hover-underline-animation">Mercy: Protect Thy Honour</a>
          </h3>
          <div class="proj-desc">
            <p>
              A 2d 2-player Street Fighter Type game that i created as my second semester project.
              This program is written in only C++, using the concepts of OBJECT ORIENTED PROGRAMING(OOP) and SDL libraries to render graphics.
              4 different players to choose from and each with their unique fighting style.
              Fully functional controlls and graphics, hope you enjoy the gameplay.
            </p>
          </div>
          <ul class="tech-list">
            <li>C++</li>
            <li>OOP</li>
            <li>SDL2</li>
            <li>SDL_MIXER</li>
            <li>SDL_IMAGE</li>
            <li>SDL_TTF</li>
          </ul>
          <div class="proj-links">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>External Link</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
            <a href="https://github.com/theuppercaseguy/Street-Fighters" aria-label="GitHub" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><title>GitHub</title><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
          </div>
        </div>
      </li>

      <li class="list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe  
            src="https://www.youtube.com/embed/FrRM20wTvcQ" 
            title="FLYING OVER GREECE (4K UHD) Amazing Beautiful Nature Scenery with Relaxing Music | 4K VIDEO ULTRA HD" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            ></iframe>

          </div>

        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/Find-Yourself-A-Mentor" target="_blank" class="hover-underline-animation">Find-Yourself-A-Mentor</a>
          </h3>
          <div class="proj-desc">
            <p>
              A website I created as a College, end semeseter project using django web frame work.
              The website basically finds mentor for newly admited students in our college, so that they can have an easy startup.
              This project focused mainly on relational databases.
            </p>
          </div>
          <ul class="tech-list">
            <li>Python</li>
            <li>Django</li>
            <li>Postgresql</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
          </ul>
          <div class="proj-links">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>External Link</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
            <a href="https://github.com/theuppercaseguy/Find-Yourself-A-Mentor" aria-label="GitHub" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><title>GitHub</title><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
                
            
          </div>
        </div>
      </li>


    </ul>
  </div>
</div>
