{%load static%}

<link rel="stylesheet" href="{%static 'pp/css/projects.css'%}" />

<h1 class="main-heading">projects</h1>

<div class="center ">
  <div class="projects-container reveal">
    <ul>

      <li class="list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe
              src="https://www.youtube.com/embed/yo6R4Ium1hE?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0&playlist=yo6R4Ium1hE"
              title="A RISCV Matrix MAC Processor on an FPGA | By UpperCase Guy" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>
          </div>
        </div>

        <div class="project-content">
          <p class="proj-overline">Group Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/FYP--Risc-V-32-bit-Matrix-Mac" target="_blank"
              class="hover-underline-animation">RISCV MATRIX MAC</a>
          </h3>

          <div class="proj-desc">
            <p align="justify">
                A 5 Staged Pipelined RISCV MAtrix MAC Processor which can perform 2 dimensional Matrix Operations 
                like Matrix Addition, subtraction and multiplication. A complete RISCV Piplined Processor with 11 Addition custom made instructions. 
                Additionally a UART module created for easy instructions transmission and data recieving.
            </p>
          </div>
          <ul class="tech-list">
            <li>Veriloge</li>
            <li>RISCV</li>
            <li>MATRIX MAC</li>
            <li>FPGA</li>
            <li>VIVADO</li>
          </ul>
          <div class="proj-links">
            <a href="https://www.youtube.com/embed/yo6R4Ium1hE" target="_blank"><svg
                xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                <title>External Link</title>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg></a>
            <a href="https://github.com/theuppercaseguy/FYP--Risc-V-32-bit-Matrix-Mac" aria-label="GitHub" target="_blank"
              rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-github">
                <title>GitHub</title>
                <path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
              </svg></a>


          </div>
        </div>
      </li>

      <li class="alt list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe
              src="https://www.youtube.com/embed/cKcIQNBt2MU?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0&playlist=cKcIQNBt2MU"
              title="GIK's Food Delivery App | By Upper Case Guy" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">

            </iframe>
          </div>
        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/GIKI-FD" target="_blank"
              class="hover-underline-animation">GIK Food Delivery App</a>
          </h3>
          <div class="proj-desc">
            <p align="justify">
              This is a mobile application designed specifically for food delivery services at Ghulam Ishaq Khan Institute of Engineering Sciences and Technology (GIKI), located in Pakistan. The app is built using React Native and Expo, providing a seamless and interactive user experience.
            </p>
          </div>
          <ul class="tech-list">
            <li>React-Native</li>
            <li>Node.js</li>
            <li>Expo</li>
          </ul>
          <div class="proj-links">
            <a href="https://www.youtube.com/embed/cKcIQNBt2MU" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-external-link">
                <title>External Link</title>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg></a>
            <a href="https://github.com/theuppercaseguy/GIKI-FD" aria-label="GitHub" target="_blank"
              rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-github">
                <title>GitHub</title>
                <path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
              </svg></a>
          </div>
        </div>
      </li>

      <li class="list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe
              src="https://www.youtube.com/embed/iY1etA988U8?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0&playlist=iY1etA988U8"
              title="Hexapod Robot Demo - Watch this 6-legged robot in action! | By UpperCase Guy" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
            </iframe>
          </div>

        </div>

        <div class="project-content">
          <p class="proj-overline">Group Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/HEXED" target="_blank" class="hover-underline-animation">18-DOF
              HEXAPOD</a>
          </h3>

          <div class="proj-desc">
            <p align="justify">
              The hexapod robot is a six-legged robot that moves smoothly and can navigate various terrains with ease.
              It is controlled using a custom-built program that allows it to perform various movements, including
              walking, turning, and dancing. The robot's movements are precise and fluid, demonstrating the latest
              advancements in modern robotics technology. This hexapod robot demo is impressive and sure to amaze anyone
              interested in robotics technology.
            </p>
          </div>
          <ul class="tech-list">
            <li>Python</li>
            <li>Raspberry pie</li>
            <li>Multi Threading</li>
            <li>GUI</li>
            <li>SSH</li>
            <li>TCP</li>
          </ul>
          <div class="proj-links">
            <a href="https://youtu.be/iY1etA988U8" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-external-link">
                <title>External Link</title>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg></a>
            <a href="https://github.com/theuppercaseguy/HEXED" aria-label="GitHub" target="_blank" rel="noreferrer"><svg
                xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                <title>GitHub</title>
                <path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
              </svg></a>


          </div>
        </div>
      </li>

      <li class="alt list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe
              src="https://www.youtube.com/embed/S8wc0SMgUM8?autoplay=1&mute=1&disablekb=1&loop=1&controls=1&start=0&playlist=S8wc0SMgUM8"
              title="Self Balancing Robot | By Upper Case Guy" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">

            </iframe>
          </div>
        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://www.youtube.com/shorts/S8wc0SMgUM8" target="_blank"
              class="hover-underline-animation">Self Balancing Robot</a>
          </h3>
          <div class="proj-desc">
            <p align="justify">
                A self Balancing Robot created as a hardware project of my 7th semester, using PID Control systems.
                A mobile controlled TCP app was used to control this robot.
            </p>
          </div>
          <ul class="tech-list">
            <li>React-Native</li>
            <li>Node.js</li>
            <li>Expo</li>
          </ul>
          <div class="proj-links">
            <a href="https://www.youtube.com/embed/S8wc0SMgUM8" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-external-link">
                <title>External Link</title>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg></a>
          </div>
        </div>
      </li>

      <li class="list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe
              src="https://www.youtube.com/embed/2BCJkYIpUbI?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0&playlist=2BCJkYIpUbI"
              title="Yelp Web Crawler Using Python and Beautiful Soup 4 | By UpperCase Guy" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>

          </div>

        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/Yelp-Webcrawler" target="_blank"
              class="hover-underline-animation">Yelp Web Scrapper</a>
          </h3>

          <div class="proj-desc">
            <p align="justify">
              A Yelp Web Crawler/Scrapper use to find information about any business in any location. And also able to
              store it in an excel file.
              Extract the Title, phone no, location and website of any business that can be exported in an Excell file.
            </p>
          </div>
          <ul class="tech-list">
            <li>Python</li>
            <li>openpyxl</li>
            <li>requests</li>
            <li>Beautiful soup 4</li>
          </ul>
          <div class="proj-links">
            <a href="https://www.youtube.com/watch?v=2BCJkYIpUbI" target="_blank"><svg
                xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                <title>External Link</title>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg></a>
            <a href="https://github.com/theuppercaseguy/Yelp-Webcrawler" aria-label="GitHub" target="_blank"
              rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-github">
                <title>GitHub</title>
                <path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
              </svg></a>


          </div>
        </div>
      </li>

      <li class="alt list reveal">
        <div class="project-visual">
          <div class="videowrapper">

            <iframe
              src="https://www.youtube.com/embed/ZeRvaW1d4QI?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0&playlist=ZeRvaW1d4QI"
              title="Mercy: Protect Thy Honour | Street Fighter Type Game | By Upper Case Guy" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">

            </iframe>

            <!-- <iframe 
              src="https://www.youtube.com/embed/ZeRvaW1d4QI?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0" 
              title="Mercy: Protect Thy Honour | Street Fighter Type Game | By Upper Case Guy" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" >
            </iframe> -->

          </div>

        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://github.com/theuppercaseguy/Street-Fighters" target="_blank"
              class="hover-underline-animation">Mercy: Protect Thy Honour</a>
          </h3>
          <div class="proj-desc">
            <p align="justify">
              A 2d 2-player Street Fighter Type game that I created as my second-semester project.
              This program is written in only C++, using the concepts of OBJECT ORIENTED PROGRAMMING(OOP) and SDL
              libraries to render graphics.
              4 different players to choose from and each with a unique fighting style.
              Fully functional controls and graphics, hope you enjoy the gameplay.
            </p>
          </div>
          <ul class="tech-list">
            <li>C++</li>
            <li>OOP</li>
            <li>SDL2</li>
            <li>SDL_MIXER</li>
            <li>SDL_IMAGE</li>
            <li>SDL_TTF</li>
          </ul>
          <div class="proj-links">
            <a href="https://youtu.be/ZeRvaW1d4QI" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-external-link">
                <title>External Link</title>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg></a>
            <a href="https://github.com/theuppercaseguy/Street-Fighters" aria-label="GitHub" target="_blank"
              rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-github">
                <title>GitHub</title>
                <path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
              </svg></a>
          </div>
        </div>
      </li>

      <li class="list reveal">x
        <div class="project-visual">
          <div class="videowrapper">
            <iframe
              src="https://www.youtube.com/embed/wciPGjFHWxY?autoplay=1&mute=1&disablekb=1&loop=1&controls=0&start=0&playlist=wciPGjFHWxY"
              title="Find Yoursel A Mentor, Semester Project Website | By UpperCase Guy" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">

            </iframe>
          </div>
        </div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="https://findmentors.herokuapp.com/" target="_blank"
              class="hover-underline-animation">Find-Yourself-A-Mentor</a>
          </h3>

          <div class="proj-desc">
            <p align="justify">
              A website I created as a College, end-semester project using the Django web framework.
              The website finds mentors for newly admitted students in our college so that they can have an easy
              startup.
              This project focused mainly on relational databases.
            </p>
          </div>

          <ul class="tech-list">
            <li>Python</li>
            <li>Django</li>
            <li>Postgresql</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
          </ul>

          <div class="proj-links">
            <a href="https://youtu.be/wciPGjFHWxY" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-external-link">
                <title>External Link</title>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg></a>

            <a href="https://github.com/theuppercaseguy/Find-Yourself-A-Mentor" aria-label="GitHub" target="_blank"
              rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-github">
                <title>GitHub</title>
                <path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
              </svg></a>


          </div>

        </div>
      </li>
    </ul>

  </div>
</div>


<span id="more-projects">
  <div class="line-2"></div>
  <ul>

    <li class="alt reveal ">

      <div class="project-content">

        <h3 class="proj-title">
          <a href="https://github.com/theuppercaseguy/GIKI-Tapeout" target="_blank"
            class="hover-underline-animation">GIKI Tapeout - UART Transciever</a>
        </h3>

        <div class="proj-desc">
          <p align="justify">
            An 8 bit UART Transciever, part of our FYP Project, submitted for fabrication, making it GIK's First ever Fabricated Chip.
          </p>
        </div>

        <ul class="tech-list">
          <li>Veriloge</li>
          <li>FPGA</li>
          <li>UART</li>
        </ul>

        <div class="proj-links">
          <a href="https://github.com/theuppercaseguy/GIKI-Tapeout" aria-label="GitHub" target="_blank" rel="noreferrer"><svg
              xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
              <title>GitHub</title>
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg></a>

        </div>

      </div>
    </li>

    <li class="alt reveal ">

      <div class="project-content">

        <h3 class="proj-title">
          <a href="https://github.com/theuppercaseguy/Complete-RISCV_5-Staged-Pipelined-Processor" target="_blank"
            class="hover-underline-animation">5 Staged Pipelined RISCV Processor</a>
        </h3>

        <div class="proj-desc">
          <p align="justify">
            This project implements a 5-staged pipelined processor capable of executing instructions for a RISC-V 32-bit architecture. The processor design adheres to the basic principles of pipelining, enhancing throughput and performance by overlapping instruction execution stages.
          </p>
        </div>

        <ul class="tech-list">
          <li>System Veriloge</li>
          <li>RISCV</li>
        </ul>


        <div class="proj-links">
          <a href="https://github.com/theuppercaseguy/Complete-RISCV_5-Staged-Pipelined-Processor" aria-label="GitHub" target="_blank" rel="noreferrer"><svg
              xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
              <title>GitHub</title>
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg></a>

        </div>

      </div>
    </li>

    <li class="alt reveal ">

      <div class="project-content">

        <h3 class="proj-title">
          <a href="https://github.com/theuppercaseguy/Complete-RISCV-Single-Cycle-Processor" target="_blank"
            class="hover-underline-animation">RISCV Single Cycle Processor</a>
        </h3>

        <div class="proj-desc">
          <p align="justify">
            This project implements a complete RISC-V 32-bit I-type processor capable of executing all basic RISC-V instructions. It has been thoroughly tested using an IP tracer to ensure functionality and correctness.
          </p>
        </div>

        <ul class="tech-list">
          <li>System Veriloge</li>
          <li>RISCV</li>
        </ul>

        <div class="proj-links">
          <a href="https://github.com/theuppercaseguy/Complete-RISCV-Single-Cycle-Processor" aria-label="GitHub" target="_blank" rel="noreferrer"><svg
              xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
              <title>GitHub</title>
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg></a>

        </div>

      </div>
    </li>

    <li class="alt reveal ">

      <div class="project-content">

        <h3 class="proj-title">
          <a href="https://github.com/theuppercaseguy/Causal-Model-FineTuned" target="_blank"
            class="hover-underline-animation">Causal-Model-FineTuned</a>
        </h3>

        <div class="proj-desc">
          <p align="justify">
            This project demonstrates fine-tuning the GPT2 model for finance text generation using the transformers
            library.</p>
        </div>

        <ul class="tech-list">
          <li>Python</li>
          <li>Collab</li>
          <li>Distilll-gpt2</li>
        </ul>

        <div class="proj-links">
          <a href="https://github.com/theuppercaseguy/Causal-Model-FineTuned" aria-label="GitHub" target="_blank" rel="noreferrer"><svg
              xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
              <title>GitHub</title>
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg></a>

        </div>

      </div>
    </li>


  </ul>
</span>


<div class="btn-container">
  <button id="toggle">Load More</button>
  <span class="line"></span>
</div>


<script>
  $(document).ready(function () {
    $("#toggle").click(function () {
      var elem = $("#toggle").text();
      if (elem == "Load More") {
        //Stuff to do when btn is in the read more state
        $("#toggle").text("Load Less");
        $("#more-projects").slideDown();
      } else {
        //Stuff to do when btn is in the read less state
        $("#toggle").text("Load More");
        $("#more-projects").slideUp();
      }
    });
  });
</script>