{%load static%}

<link rel="stylesheet" href="{%static 'pp/css/projects.css'%}" />

<h1 class="main-heading">projects</h1>
<div class="center">
  <div class="projects-container">
    <ul>
      <li class="list">
        <div class="project-visual">ads</div>

        <div class="project-content">
          <p class="proj-overline">Standalone Project</p>
          <h3 class="proj-title">
            <a href="" class="hover-underline-animation">Yelp Web Scrapper</a>
          </h3>
          <div class="proj-desc">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
              eligendi pariatur explicabo, nulla, quis voluptatum debitis ipsa
              ex deleniti maxime necessitatibus, repellat architecto quibusdam?
              Debitis et voluptatem corrupti vitae quibusdam?
            </p>
          </div>
          <ul class="tech-list">
            <li>Python</li>
            <li>Python</li>
            <li>Python</li>
            <li>Beautiful soup 4</li>
          </ul>
          <div class="proj-links">
            <a href="https://github.com/bchiang7/halcyon-site" aria-label="GitHub Link" rel="noopener noreferrer" target="_blank">
              
            </a>
            
            <a href="">reference</a>
          </div>
        </div>
      </li>

      <li>asdf</li>
    </ul>
  </div>
</div>
